html {
	scroll-behavior: smooth;
}

/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin: 0;
	padding: 0;
	font-size: 16pt;
	font-family: "Lato", "sans-serif";
}

header {
	background-color: white;
	background-position: white;
	text-align: center;
}

header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

header img {
	padding-top: 20px;
	width: 200px;
	height: 200px;
	margin: auto;
}

header h1 {
	padding-top: 20px;
	font-size: 50px;
	font-weight: bold;
}

p {
	font-size: 16px;
}

a:link {
	text-decoration: none;
	color: #00274C;
}

a:hover{
	box-shadow: inset 100px 0 0 0 #00274C;
  	color: white;
}

a:visited{
	color:#00274C;
}

#main {
	font-size: 16px;
	margin: 10px;
	padding: 10px;
	width: 85%;
	margin: 0 auto;
}

h1 {
	font-size: 50px;
	line-height: 1;
	padding: 50px 0;
	text-align: center;
	color: #00274C;
}

h2{
	font-size: 32px;
	line-height: 1.5;
	text-align: center;
	color: #00274C;
	padding:20px;
  }

  h3{
	font-size: 30px;
	line-height: 1;
	padding: 50px 0;
	text-align: center;
	color: #00274C;
  }

  a.skip-to-main{
    left: 0;
    padding: 7px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -50px;
}

  .skip-to-main a:visited{
	color:white;
  }

  nav li{
	display:inline;
	padding-right:20px;
  
  }
  
  nav{
	display: flex;
	padding: 25px 0; 
	text-align: left;
	justify-content: flex-end;
	flex-wrap: wrap;
  }

  .navitem a{ 
	color: #808080;
  }

  .active a{
    font-weight: bolder;
    color: #00274C;
    text-decoration: underline #00274C;
}

  footer{
	background-color: white;
	padding-top: 30px;
	padding-bottom:30px;
	text-align: center;
  }

  footer p{
	color: #00274C
  }

  .looking-for {
	background-color: #00274C;
  	margin: 5px;
  	padding: 20px;
  }

  .looking-for h1 {
	font-size: 32px;
	line-height: 1;
	padding: 50px 0;
	text-align: center;
	color: white;
  }

  .looking-for p {
	font-size: 16px;
	line-height: 1;
	padding: 50px 0;
	text-align: center;
	color: white;
  }





