html {
	scroll-behavior: smooth;
}

/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin: 0;
	padding: 0;
	font-size: 20pt;
	font-family: "Montserrat", "sans-serif";
}

#about-upe {
	object-fit: cover;
	width: 100%;
  }

header {
	background-color: white;
	background-position: white;
	text-align: center;
}

header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

header img {
	padding-top: 20px;
	width: 200px;
	height: 200px;
	margin: auto;
}

header h1 {
	padding-top: 20px;
	font-size: 50px;
	font-weight: bold;
}

p {
	font-size: 25px;
	color: #00274C;
}

a:link {
	color: #00274C;
}

a:hover{
	box-shadow: inset 100px 0 0 0 #00274C;
  	color: white;
}

a:visited{
	color:#00274C;
}

#main {
	font-size: 20px;
	margin: 10px;
	padding: 10px;
	width: 85%;
	margin: 0 auto;
}

h1 {
	font-size: 50px;
	line-height: 1;
	padding: 50px 0;
	text-align: center;
	color: #00274C;
}

h2{
	font-size: 32px;
	line-height: 1.5;
	text-align: center;
	color: #00274C;
	padding:20px;
  }

  h3{
	font-size: 30px;
	line-height: 1;
	padding: 50px 0;
	text-align: center;
	color: #00274C;
  }

  a.skip-to-main{
    left: 0;
    padding: 7px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -50px;
}

/* .fa-computer-classic:before {
    content: "\f7b6";
} */

  .skip-to-main a:visited{
	color:white;
  }

  nav li{
	display:inline;
	padding-right:20px;
  
  }

  .fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}
  
  /* nav{
	display: flex;
	padding: 25px 0; 
	text-align: left;
	justify-content: flex-end;
	flex-wrap: wrap;
  } */

  nav{
    display: flex;
    flex-direction: column;
    padding: 25px 0; 
    align-items: center;
    flex-wrap: wrap;
	}

  .navitem a{ 
	color: #808080;
  }

  .navitem{
	display: flex;
	font-size: 15px;
}

.logos{
display: grid;
grid-template-columns: auto;
grid-template-rows: auto auto auto ;
grid-column-gap: 15px;
grid-row-gap: 15px;
/* height: auto; */
width: 90%;
margin: 0 auto;
margin-bottom: 15px;
justify-items: center;
}

  .active a{
    font-weight: bolder;
    color: #00274C;
    text-decoration: underline #00274C;
}

  footer{
	background-color: white;
	padding-top: 30px;
	padding-bottom:30px;
	text-align: center;
  }

  footer p{
	color: #00274C
  }

  .looking-for {
	background-color: #00274C;
  	margin: 5px;
  	padding: 20px;
  }

  .looking-for h3 {
	font-size: 32px;
	line-height: 1;
	padding: 50px 0;
	text-align: center;
	color: white;
  }

  .looking-for p {
	font-size: 16px;
	line-height: 1;
	padding: 50px 0;
	text-align: center;
	color: white;
  }

  .members {
	margin: 12px;
	background: #fff;
	flex-basis: 250px;
  }

  .team{
	min-height: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  }

  .members h2{
	font-size: 25px;
	padding: 20px;
	line-height: 1;
	text-align: center;
	color: #00274C;
  }

  .members h3{
	font-size: 20px;
	padding: 20px;
	line-height: 1;
	text-align: center;
	color: #00274C;
  }

  .students-companies {
	border: 10px solid #00274C;
	border-radius: 15px;
	margin: 5px;
	padding: 20px;
  }

  /* .logos{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	/* height: auto; maybe get rid of */
	/* width: 90%;
	margin: 0 auto;
	margin-bottom: 15px;
  } */ 

  #future-careers{
	text-align: center;
  }

  .background-w-text {
	background-image: url("../images/diverse_meeting.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	background-color: #cccccc;
  }

  .background-w-text h1 {
	color: white;
  }

  .background-w-text h2 {
	color: white;
  }

  /* media query for tablet */
  @media screen and (min-width: 760px){
	/* .main{
		font-size: 24px;
    line-height: 1;
    padding: 50px 0;
    text-align: left;
	} */

	/* nav{
    display: flex;
    flex-direction: column;
    padding: 25px 0; 
    align-items: center;
    flex-wrap: wrap;
	} */

	.logos{
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto;
		grid-column-gap: 15px;
		grid-row-gap: 15px;
		/* height: auto; */
		width: 90%;
		margin: 0 auto;
		margin-bottom: 15px;
	  }

	nav{
		display: flex;
		padding: 25px 0; 
		text-align: left;
		justify-content: flex-end;
		flex-wrap: wrap;
	  }

	/* .navitem{
		display: flex;
		font-size: 15px;
  }

  .logos{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	/* height: auto; get rid of maybe */
	/* width: 90%;
	margin: 0 auto;
	margin-bottom: 15px; */
  /* } */ 
}

/* media query laptop */
@media screen and (min-width: 1024px){
	.gallery{
	  display: grid;
	  grid-template-columns: auto auto auto auto;
	  grid-template-rows: auto auto auto;
	  grid-column-gap: 15px;
	  grid-row-gap: 15px;
	  height:auto;
	  width: 90%;
	  margin: 0 auto;
	  margin-bottom: 15px;
	}
  
	nav li{
	  display:inline;
	  padding-right:60px;
	
	}
  }

.rotate {
	animation: rotation 8s infinite linear;
}

.rotate {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

@keyframes rotation {
	0% { transform: rotate(0deg); }
	100% {transform: rotate(359deg);}
}

@media (prefers-reduced-motion:reduce){
	.rotate{
	  animation: none;
	}
  }



.contact-body {
    background-color: #444442;
    padding-top: 85px;
}

.contact-row h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: white;
    text-align: center;
}

.contact-row h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 100%;
    margin: 1rem 1rem;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
		margin: 1rem 1rem;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 130px;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    padding: 6px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }

	.btn-large {
		width: 100%;
	}
}

.contact {
	color: white;
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

